.donationIMG{
    margin-bottom: 30px;
}
.titleDonation{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
  background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
  margin-bottom: 10px;
}
.textDonation{
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.wrapperDonationList{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto 40px;
}
.wrapperDonationList li{
    border: 1px solid #FFFFAC;
    border-radius: 10px;
    background: linear-gradient(90deg, #1B2021, #9EB7E5);
    width: 335px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.textLi{
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.titleLih31, .titleLih32, .titleLih33, .titleLih41, .titleLih42, .titleLih43{
    color: #FFFFAC;
    font-weight: 600;
    text-transform: uppercase;
}
.titleLih31{
    font-size: 150px;
    margin-bottom: -25px;
}
.titleLih32{
    font-size: 83px;
    margin-bottom: -10px;
}
.titleLih33{
    font-size: 94px;
    margin-bottom: -20px;
}
.titleLih41{
    font-size: 44px;
}
.titleLih42{
    font-size: 34px;
}
.titleLih43{
    font-size: 44px;
}
.detailsDonation{
    padding: 34px 84px;
    display: block;
    font-size: 12px;font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #1B2021;
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    border-radius: 10px;
    margin-bottom: 40px;
}
.heartBlock{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(./heart.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 81px 20px;
    margin-bottom: 20px;
}
.numerOf{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.title{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 280px;
}
.title:last-child{
    margin: 0;
}
.title span{
    color: transparent;
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    -webkit-background-clip: text; /* Для Safari */
    background-clip: text;
}
.lastTextDonation{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #FFFCF9;
}