.btwsectionText{
    text-transform: uppercase;
    color: #FFFCF9;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    margin-bottom: 44px;
    right: 40px;
    text-align: right;
}
.titleProgram{
    font-size: 18px;
    font-weight: 600;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 100%;
}
.titleProgram span{
    color: transparent;
  background: linear-gradient(90deg, #FFFCF9, #FFFFAC);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
}

@media(min-width:768px){
    .btwsectionText{
        font-size: 18px;
        margin: 0 33.3% 80px auto;
    }
    .titleProgram{
        font-size: 86px;
    }
}