.titleProgram{
    font-size: 18px;
    font-weight: 600;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.titleProgram span{
    color: transparent;
  background: linear-gradient(90deg, #FFFCF9, #FFFFAC);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
}
.wrappperTextAbout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.textAbout{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

@media(min-width:768px){
    .titleProgram{
        font-size: 86px;
        max-width: 1454px;
        margin: 0 auto;
    }
    .wrappperTextAbout{
        flex-direction: row;
        gap: 185px;
        margin: 0 auto;
        justify-content: center;
    }
}