.SpeakersSection {
}
.SpeakersSection .mySwiper {
}
.SpeakersSection :global(.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal){
    background-color: #ffffac9e;
}
.numberOfSpeaker{
    position: absolute;
    z-index: 2;
    color: #ffffac;
    top: 20px;
    left: 20px;
}
.SpeakersSection :global(.mySwiper) .swiperSlideBackground1 {
  width: 335px;
  height: 565px;
  background-image: url(./Tolstikova.webp);
  background-position: center;
  background-size: cover;
  border: 1px solid #ffffac;
  border-radius: 10px;
  margin-bottom: 30px;
}
.SpeakersSection :global(.mySwiper) .swiperSlideBackground2 {
  width: 335px;
  height: 565px;
  background-image: url(./Kozachkova.webp);
  background-position: bottom;
  background-size: cover;
  border: 1px solid #ffffac;
  border-radius: 10px;
}
.SpeakersSection :global(.mySwiper) .swiperSlideBackground3 {
  width: 335px;
  height: 565px;
  background-image: url(./Matushevska.webp);
  background-position: center;
  background-size: cover;
  border: 1px solid #ffffac;
  border-radius: 10px;
}
.SpeakersSection :global(.mySwiper) .swiperSlideBackground4 {
  width: 335px;
  height: 565px;
  background-image: url(./Kozlova.webp);
  background-position: center;
  background-size: cover;
  border: 1px solid #ffffac;
  border-radius: 10px;
}
.SpeakersSection :global(.mySwiper) .swiperSlideBackground5 {
  width: 335px;
  height: 565px;
  background-image: url(./Besborodih.webp);
  background-position: center;
  background-size: cover;
  border: 1px solid #ffffac;
  border-radius: 10px;
}
.wrapperSpeakerInfo {
  padding: 21px 20px;
  background-color: #1b202199;
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ffffac;
  border-radius: 0 0 10px 10px;
}
.speakerNameClass1,
.speakerNameClass2,
.speakerNameClass3,
.speakerNameClass4,
.speakerNameClass5 {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: "Unbounded";
  color: transparent;
  background: linear-gradient(90deg, #ffffac, #fff);

  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
  margin-bottom: 10px;
  font-weight: 800;
text-transform: uppercase;
}
.speakerNameClass1, .speakerNameClass2, .speakerNameClass4, .speakerNameClass5{
    font-size: 22px;
}
.speakerNameClass3{
    font-size: 17px;
    padding: 5px 0;
}

.wrapperSpeakerInstargram{
    padding: 5px;
    background-color: #ffffac;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.moreInfoBtn{
    background-color: transparent;
    border: 1px solid #FFFFAC80;
    border-radius: 10px;
    padding: 15px;
    display: block;
    width: 100%;
}
.moreInfoBtnDisplayNone{
    display: none;
}