.textBtwSection{
  text-align: center;
  margin: 0 0 40px 80px;
  text-transform: uppercase;
}
.SpeakersSection :global(.mySwiper){
  overflow: visible;
  padding: 0 20px 30px;
}
.slideWrapper{
  border: 1px solid #FFFFAC;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: 335px;
  height: 478px;
  overflow: hidden;
  margin-bottom: 10px;
}
.slideWrapper ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numberOfSpeaker{
  color: #FFFFAC;
  font-size: 12px;
  font-weight: 600;
}
.instagram{
  fill: #FFFFAC;
}
.dropUpDetails{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  padding: 20px 20px 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000099;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}
.dropUpDetails.active{
  opacity: 1;
}
.contentDetails{
  max-width: 250px;
  margin-top: auto;
}
.wrapperSpeakerInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: #1b202199;
  backdrop-filter: blur(4px);
  border-top: 1px solid #FFFFAC;
  left: 0;
  padding: 20px;
}
.speakerName{
  font-family: "Unbounded";
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(90deg, #ffffac, #fff);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
  white-space: pre-line;
}
.speakerNameClass3{
  font-size: 18px;
  margin-bottom: 8px;
}
.speakerNameClassLast{
  font-size: 18px;
}
.moreInfoBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  font-size: 50px;
  padding: 0;
  background-color: transparent;
  color: #FFFFAC;
  border: none;
  height: 30px;
}
.moreInfoBtnDisplayNone{
  display: none;
  overflow: hidden;
  opacity: 0;
}
.titleTema{
  font-family: "Unbounded";
  font-size: 22px;text-transform: uppercase;
  font-weight: 800;
  padding-left: 20px;
  margin-bottom: 5px;
}
.textTema{
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
  max-width: 320px;
}
.speakerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 10px;
}
/* Стили для трека (фон скроллбара) */
.SpeakersSection :global(.swiper-scrollbar) {
  height: 1px !important;
  background: #444;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

/* Стили для ползунка */
.SpeakersSection :global(.swiper-scrollbar-drag) {
  background: #FFFFAC;
  border-radius: 3px;
  height: 4px;
}

@media(min-width:410px){
  .slideWrapper{
    width: 375px;
    height: 545px;
  }
  
}

@media(min-width:768px){
  .SpeakersSection{
    padding-top: 0;
  }
  .textBtwSection{
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 45%;
  }
  .slideWrapper{
    width: 360px;
    height: 540px;
  }
  .speakerName{
    font-size: 32px;
    padding: 15px 0;
  }
  .speakerNameClass3{
    font-size: 28px;
    padding: 0;
  }
  .speakerNameClass10{
    font-size: 24px;
    padding: 25px 0;
  }
  .speakerNameClassLast{
    font-size: 20px;
    padding: 30px 0;
  }
  .contentDetails{
    font-size: 18px;
    max-width: 100%;
  }
  .swiperCustomWrapper {
  width: 100%;
  overflow: hidden;
}

.swiperInner {
  display: flex;
  width: max-content;
  gap: 20px;
  padding: 200px 20px 40px;
}
.speakerNameClass3{
  font-size: 25px;
  padding: 5px 0;
}
.contentDetails{
  margin: auto 0;
}
}

@media(min-width:1680px){
  .slideWrapper{
    width: 440px;
    height: 720px;
  }
}