.titleFAQ{
    font-size: 136px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFCF9;
    margin-bottom: -58px;
    position: relative;
    z-index: 0;
}
.wrapperList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.5s;
    background-color: #1B2021;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}
.itemLi{
    position: relative;
    padding: 20px;
}
.itemLi::after{
    content: '';
    position: absolute;
    z-index: 5;
    width: 150%;
    height: 2px;
    background-color: #FFFFAC;
    top: 0;
    left: -25%;
}
.titleQList{
    display: flex;
    gap: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Mulish";
}
.content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s
 linear, transform 0.4s
 linear, max-height 0.3s
 linear, margin-top 0.4s linear;
    pointer-events: none;
    position: relative;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
}
.content.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    max-height: 500px;
    margin-top: 15px;
}

.contentText{
    color: #797979;
}

@media(min-width:768px){
    .titleFAQ{
        text-align: right;
        font-size: 370px;
        margin-bottom: -170px;
    }
    .itemLi{
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .titleQList{
        font-size: 18px;
        cursor: pointer;
    }
    .number{
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .content{
        max-width: 600px;
        font-size: 18px;
        margin-left: auto;
        cursor: pointer;
        transform: translateY(-40px);
    transition: opacity 0.65s
 linear, transform 0.65s
 linear, max-height 0.65s
 linear, margin-top 0.65s linear;
    }
}