.header {
    max-height: 151px;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
    backdrop-filter: blur(10px);
    background: #1b2021b2;
    transition: transform 0.3s ease, padding 0.3s ease;
    transform: translateY(0);
    position: fixed;
    top: 0;
    z-index: 250;
  }
  
  .hideHeader {
    transform: translateY(-100%);
  }
header :global(.container){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.wrapperNavigationList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px 131px;
    max-height: 100px;
}
.navigationLinkHeader{
    color: #FFFCF9;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
}
.wrapperSPButtons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: auto;
}
.partnersBtn{
    background: transparent;
    border: none;
    border-bottom: 1px solid #9EB7E5;
    color: #9EB7E5;
    font-size: 1vw;
    text-transform: uppercase;
}
.buyBtnHeader{
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #FFFCF9;
    color: #FFFCF9;
    padding: 24px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: auto;
}
.arrowList{
    transform: rotate(-90deg);
    fill: #FFFCF9;
}