.textSection {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 64px;
}
.sectionTema :global(.mySwiper) {
  height: 100dvh;
}
:global(.mySwiper) .swiperTema1,
:global(.mySwiper) .swiperTema2,
:global(.mySwiper) .swiperTema3,
:global(.mySwiper) .swiperTema4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 65px 17px 92px;
  justify-content: center;
}
.swiperTema1 {
  background: url(./Tema1.webp) center/cover;
}
.swiperTema2 {
  background: url(./Tema2.webp) center/cover;
}
.swiperTema3 {
  background: url(./Tema3.webp) center/cover;
}
.swiperTema4 {
  background: url(./Tema4.webp) center/cover;
}
