/* 
.scroll-lock {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
} */

.sectionTema {
  padding: 0;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}
.backgrondShadow{
  position: absolute;
    z-index: 2;
    width: 822px;
    height: 411px;
    background-color: #1B2021;
    border-radius: 50%;
    top: -30%;
    left: -50%;
    filter: blur(50px);
}
.sectionTema :global(.mySwiper) {
  height: 100dvh;
}

:global(.mySwiper) .swiperTema1,
:global(.mySwiper) .swiperTema2,
:global(.mySwiper) .swiperTema3,
:global(.mySwiper) .swiperTema4 {
  display: flex;
  justify-content: center;
  padding: 65px 17px 92px;
  background-size: cover;
  background-position: center;
}

.swiperTema1 { background-image: url(./Tema1.webp); }
.swiperTema2 { background-image: url(./Tema2.webp); }
.swiperTema3 { background-image: url(./Tema3.webp); }
.swiperTema4 { background-image: url(./Tema4.webp); }

.wrapperTitles {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.defoultStylestitle {
  font-weight: 600;
  font-size: 56px;
  text-transform: uppercase;
  color: #434A39;
  transition: 0.3s;
}

li .defoultStylestitle2{
margin-left: 54px;
}
li .defoultStylestitle3{
  margin-left: 94px;
  }
  li .defoultStylestitle4{
    margin-left: 142px;
    }

.defoultStylestitle span {
  font-size: 12px;
  color: #797979;
}

.activeTitle {
  color: #FFFFAC;
}

.activeTitle span {
  color: #FFFCF9;
}

.textSection {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 70px;
  right: 64px;
  z-index: 2;
  text-transform: uppercase;
}
@media (min-width:768px){
  .textSection{
    font-size: 18px;
    right: 40%;
    opacity: 0.8;
  }
  .defoultStylestitle, .defoultStylestitle2, .defoultStylestitle3, .defoultStylestitle4{
    font-size: 6vw;
  }
  .wrapperTitles{
    padding-top: 250px;
  }
  li .defoultStylestitle2{
    margin-left: 45%;
    }
    li .defoultStylestitle3{
      margin-left: 70%;
      }
      li .defoultStylestitle4{
        margin-left: 100%;
        }
    
}