.sectionProgram{
    padding-top: 130px;
}
.programBackgroundSvg1{
    position: absolute;
    top: -40px;
    /* transform: rotate(51deg); */
}
.btwsectionText{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #797979;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 70px;
}
.arrowList{
    fill: #797979;
}
.wrapperDateInfo{
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFAC;
    border-radius: 10px;
    margin-bottom: 72px;
}
.wrapperDateInfo li:first-child{
    padding: 44px 70px 18px;
    text-align: center;
}
.date{
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 120px;
    color: #1B2021;
    margin-bottom: -30px;
}
.mounth{
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    color: #1B2021;
    margin-bottom: 52px;
}
.mounth::after{
    content: '2025';
    font-family: "Quentin";
    font-size: 40px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #9EB7E5;
    font-weight: 400;
}
.wrapperDateInfo li:last-child{
    background: url(./westinHotel.webp) center/cover;
    padding: 92px 45px;
    border-radius: 0 0 10px 10px;
}
.hotelName{
    font-family: "Unbounded";
    font-size: 26px;
    text-transform: uppercase;
    color: #FFFFAC;
    text-align: center;
    font-weight: 600; 
    text-decoration: underline;
    display: block;
}
.btwTexttwo{
    text-transform: uppercase;
    color: #FFFCF9;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    margin-bottom: 44px;
    right: 40px;
    text-align: right;
}
.titleProgram{
    font-size: 28px;
    font-weight: 600;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.titleProgram::after{
    content: '';
    background-image: url(./CircleSVGLine.svg);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300%;
    height: 700%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}
.titleProgram span{
    color: transparent;
  background: linear-gradient(90deg, #FFFCF9, #FFFFAC);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
}
.textUnderTitleProgram{
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #9EB7E5;
    max-width: 50%;
    margin-left: auto;
}
.wrapperProgramList{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.wrapperProgramList li:first-child{
    border-radius: 10px 10px 0 0;
}
.wrapperProgramList li:first-child,
.wrapperProgramList li:nth-child(3),
.wrapperProgramList li:nth-child(5){
    background-color: #FFFFAC;
    color: #1B2021;
    padding: 40px 20px;
}
.wrapperProgramList li:nth-child(7){
    background-color: #9EB7E5;
    padding: 40px 20px 50px;
    color: #1B2021;
}

.numberOfList{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.titlelistOne{
    font-size: 28px;
    font-weight: 600;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.titlelistTwo{
    font-size: 28px;
    font-weight: 600;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.titlelistThree{
    font-size: 24px;
    font-weight: 600;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.titlelistFour{
    font-size: 24px;
    font-weight: 600;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.textlistOne{
    font-size: 12px;
    color: #1B2021;
    margin-bottom: 24px;
}
.textlistTwo{
    font-size: 12px;
    color: #1B2021;
    margin-bottom: 32px;
}
.textlistThree{
    font-size: 12px;
    color: #1B2021;
    margin-bottom: 13px;
}
.textlistFour{
    font-size: 12px;
    color: #1B2021;
}
.textUnderprogram{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 224px;
    margin-bottom: 200px;
}
.textUnderprogram span{
    color: transparent;
  background: linear-gradient(90deg, #FFFCF9, #FFFFAC);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
}
.LinesAfterMonatikProgram{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.LinesAfterMonatikProgramDesc{
    display: none;
}

@media (min-width:876px){
    .wrapperDateInfo{
        flex-direction: row;
        max-width: 1377px;
        margin: 0 auto 200px;
    }
    .wrapperDateInfo li:nth-child(1){
        padding: 101px 30px 110px 38px;
        display: flex;
        align-items: end;
    }
    .date{
        font-size: 194px;
    }
    .mounth{
        font-size: 58px;
        margin: 0;
    }
    .mounth::after{
        top: -30px;
        left: 110px;
        font-size: 94px;
    }
    .wrapperDateInfo li:last-child{
        padding: 164px 54.5px;
        border-radius: 0 10px 10px 0;
        background-size: cover;
        width: 100%;
    }
    .hotelName{
        font-size: 52px;
    }
    .btwTexttwo{
        font-size: 18px;
        margin-bottom:80px;
        margin-left: 20%;
        text-align: center;
    }
    .titleProgram{
        font-size: 5vw;
        margin-bottom: 50px;
    }
    .titleProgram::after{
        width: 120%;
        height: 500%;
        opacity: 0.07;
    }
    .brMobileTitleProgram{
        display: none;
    }
    .textUnderTitleProgram{
        font-size: 18px;
    }
    .wrapperProgramList{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .wrapperProgramList li:nth-child(1){
        grid-area: 1 / 3 / 3 / 5;
        border-radius: 0px;
        padding: 80px 40px ;
    }
    .wrapperProgramList li:nth-child(2){
        grid-area: 1 / 1 / 3 / 3; 
        border-radius: 0px;
    }
    .wrapperProgramList li:nth-child(3){
        grid-area: 3 / 1 / 5 / 3;
        border-radius: 0px;
        padding: 80px 40px ;
    }
    .wrapperProgramList li:nth-child(4){
        grid-area: 1 / 5 / 3 / 7;
        border-radius: 0px;
    }
    .wrapperProgramList li:nth-child(5){
        grid-area: 3 / 5 / 5 / 7; 
        border-radius: 0px;
        padding: 60px 40px ;
    }
    .wrapperProgramList li:nth-child(6){
        grid-area: 3 / 3 / 5 / 5; 
        border-radius: 0px;
    }
    .wrapperProgramList li:nth-child(7){
        grid-area: 5 / 4 / 8 / 7; 
        border-radius: 0px;
        padding: 160px 40px ;
    }
    .wrapperProgramList li:nth-child(8){
        grid-area: 5 / 1 / 8 / 4;
        border-radius: 0px;
    }
    .monatikIMG{
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
    .titlelistOne, .titlelistTwo, .titlelistThree, .titlelistFour{
        font-size: 2vw;
    }
    .textlistOne, .textlistTwo, .textlistThree, .textlistFour{
        font-size: 1vw;
    }
    .LinesAfterMonatikProgram{
        display: none;
    }
    .LinesAfterMonatikProgramDesc{
        display: block;
        position: absolute;
        right: 0;
        bottom: -120px;
    }
}
