.sectionTelegramBlock{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(./telegramBack.webp);
    padding: 129px 16px 129px 24px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.sectionTelegramBlock :global(.container){
    padding: 0;
}
@media(min-width:405px){   
.sectionTelegramBlock :global(.container){
    margin-left: 10px;
}
}
.titleTelegram, .scndTitle{
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 600;
}
.wrapperTelegramInfo{
    max-width: 250px;
    margin-left: 83px;
}
.telegramText{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.telegramText span{
    color: #FFFFAC;
}
.linkToTelegramBot{
    padding: 24px 59px;
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    text-transform: uppercase;
    max-width: 198px;
    border-radius: 10px;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #1B2021;
}

@media(min-width:768px){
    .titleTelegram, .scndTitle{
        font-size: 180px;
    }
    .titleTelegram{
        text-align: center;
    }
    .wrapperTelegramInfo{
        display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
margin: 0 auto;
max-width: 100%;
    }
    .scndTitle{
        grid-area: 1 / 1 / 2 / 3;
        margin: auto 0 auto auto;
    }
    .telegramText{
        grid-area: 1 / 3 / 2 / 4;
        font-size: 38px;
        max-width: 410px;
    }
    .linkToTelegramBot{
        grid-area: 2 / 3 / 3 / 4;
        font-size: 18px;
        padding: 54px 105px;
        max-height: 130px;
        max-width: 373px;
    }
}