header{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 50px 0;
    z-index: 10;
    transition: 0.3s;
}
header :global(.container){
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.scrolledHeader {
    background: #1B2021B2;
    backdrop-filter: blur(10px);
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    transition: background 0.3s ease, padding 0.3s ease;
  }

/* MOBILE */

.logoHeader{
    width: 99px;
    height: 54px;
}

.wrapperNavigationHeader{
    display: none;
}
.buyBtnHeader{
    padding: 8.7px 10px;
    background-color: transparent;
    border: 1px solid #FFFCF9;
    border-radius: 10px;
    color: #FFFCF9;
    font-family: "Mulish";
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 35px;
}
.arrowList{
    fill: #FFFCF9;
    position: relative;
    /* transform: rotate(-90deg); */
}
.burgerMenu{
    fill: #FFFCF9;
}
.wrapperPartnersBtn{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transition: 0.3s;
}
.partnersBtn{
    padding: 5px 0 0;
    text-transform: uppercase;
    background-color: transparent;
    color: #9EB7E5;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #9EB7E5;
}
.absolutePlaceholder{
    display: none;
}

.hidePartnersBtn {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    max-height: 0;
    transition: all 0.3s ease;
  }

/* COPMUCTER */
@media (min-width:678px){
    .wrapperBurger{
        display: none;
    }
    .absolutePlaceholder{
        display: block;
        width: 100px;
    }
    header{
        padding: 35px 0;
    }
.logoHeader{
    width: auto;
    height: auto;
}
.wrapperNavigationHeader{
    display: flex;
    gap: 130px;
    margin: 0 20px;
}
.wrapperNavigationHeader li{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.headerNavigationLink{
    text-transform: uppercase;
    color: #FFFCF9;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -3%;
}
.wrapperPartnersBtn{
    position: absolute;
    flex-direction: column;
    gap: 15px;
    top: 35px;
    right: 400px;
}
.buyBtnHeader{
    font-size: 22px;
}
.partnersBtn{
    font-size: 18px;
}
}