.sectionTickets {
  background-color: #ffffac;
  padding-top: 50px;
}

.textBtwSection {
  font-size: 12px;
  text-align: right;
  margin-right: 41px;
  color: #1b2021;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.wrapperTicketsTariff {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 70px;
  position: relative;
  z-index: 1;
  background-color: #ffffac;
}

.TicketsLastMinute,
.TicketsGold,
.TicketsLuxe {
  padding: 25px 20px;
  border: 1px solid #1b2021;
  border-radius: 10px;
}

.TicketsPremium {
  background-color: #1b2021;
  border-radius: 10px;
  padding: 25px 20px;
}

.titleLM,
.titleTariffCard {
  font-size: 34px;
  color: #1b2021;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.TicketsPremium .titleTariffCard {
  color: #fffcf9;
}

.kolPlace {
  font-style: 12px;
  color: #1b2021;
  margin-bottom: 5px;
}

.TicketsPremium .kolPlace {
  color: #fffcf9;
}

.wrapperDetailsTariff {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 40px;
  border-top: 1px solid #1b2021;
  border-bottom: 1px solid #1b2021;
}

.TicketsPremium .wrapperDetailsTariff {
  border-top: 1px solid #fffcf9;
  border-bottom: 1px solid #fffcf9;
}

.wrapperDetailsTariff li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailsSVG {
  fill: inherit;
}

.TicketsPremium .detailsSVG {
  fill: #fffcf9;
}

.detailsText {
  font-size: 14px;
  font-weight: 800;
  color: #1b2021;
  text-transform: uppercase;
}

.TicketsPremium .detailsText {
  color: #fffcf9;
}

.TicketsPremium .detailsText span,
.TicketsGold .detailsText span {
  color: #9eb7e5;
}

.priceTextWillBe {
  font-size: 22px;
  color: #898989;
  opacity: 0.6;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 30px;
  position: relative;
}

.priceTextWillBe span {
  font-size: 16px;
}

.priceTextWillBe::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #898989;
  opacity: 0.6;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.priceText {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #1b2021;
  text-transform: uppercase;
  width: 100%;
}

.TicketsPremium .priceText {
  color: #fffcf9;
}

.priceText span {
  font-size: 22px;
}

.priceTextAfter {
  text-align: center;
  color: #1b2021;
  padding-bottom: 30px;
  border-bottom: 1px solid #1b2021;
  margin-bottom: 40px;
  font-size: 12px;
}

.TicketsPremium .priceTextAfter {
  color: #fffcf9;
  border-bottom: 1px solid #fffcf9;
}

.btnBuyTariffGold {
  background: linear-gradient(90deg, #1b2021, #9eb7e5);
  padding: 34px 84px;
  font-size: 12px;
  color: #fffcf9;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  width: 100%;
}

.btnBuyTariffPremium {
  background: linear-gradient(90deg, #ffffac, #ffffff);
  padding: 34px 84px;
  font-size: 12px;
  color: #1b2021;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  width: 100%;
}

.btnPlaceShow {
  background-color: transparent;
  padding: 17px 78px;
  color: #1b2021;
  border: 1px solid #1b2021;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.TicketsPremium .btnPlaceShow {
  color: #fffcf9;
  border: 1px solid #fffcf9;
}

.wrapperLMwithList {
  max-width: 254px;
}

.wrapperLMList {
  color: #1b2021;
  font-size: 12px;
  margin-left: 10px;
}

.wrapperLMList li {
  position: relative;
}

.wrapperLMList li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 5px;
  background-color: #1b2021;
}

.underPresidentRoom {
  display: flex;
  flex-direction: column;
}

.detailsText .underPresidentRoomSpan {
  font-size: 12px;
  text-transform: none;
  color: #696969 !important;
  font-weight: 400;
}
.TicketsLuxe .detailsText span{
    color: #9eb7e5;
}

.TicketsOnlyMonatik {
  border-radius: 10px;
  border: 1px solid #1b2021;
  padding: 25px 0;
  display: none;
}

.titleOnlyTiket {
  font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1b2021;
  text-align: center;
  margin-bottom: 60px;
}

.wrapperInfoTicketOnly {
  padding: 0 20px;
}

.wrapperInfoTicketOnly .kolPlace {
  text-align: center;
}

.wrapperInfoTicketOnly .detailsText {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  border-top: 1px solid #1b2021;
  border-bottom: 1px solid #1b2021;
  position: relative;
}

.wrapperInfoTicketOnly .detailsText span {
  max-width: 210px;
}
