.sectionTickets{
    background-color: #FFFFAC;
    padding-top: 50px;
}
.textBtwSection{
    font-size: 12px;
    text-align: right;
    margin-right: 41px;
    color: #1B2021;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.wrapperTicketsTariff{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
    background-color: #FFFFAC;
}
.TicketsGold{
    padding: 25px 20px;
    border: 1px solid #1B2021;
    border-radius: 10px;
}
.titleTariffCard{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 36px;
    color: #1B2021;
    margin-bottom: 28px;
}
.kolPlace{
    font-style: 12px;
    color: #1B2021;
    margin-bottom: 5px;
}
.wrapperDetailsTariff{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0 40px;
    border-top: 1px solid #1B2021;
    border-bottom: 1px solid #1B2021;
}
.wrapperDetailsTariff li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detailsText{
    font-size: 14px;
    font-weight: 800;
    color: #1B2021;
    text-transform: uppercase;
}
.priceText{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #1B2021;
    text-transform: uppercase;
    padding: 30px 0;
    border-bottom: 1px solid #1B2021;
    width: 100%;
    margin-bottom: 40px;
}
.btnBuyTariffGold{
    background: linear-gradient(90deg, #1B2021, #9EB7E5);
    padding: 34px 84px;
    font-size: 12px;
    color: #FFFCF9;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    width: 100%;
}
.btnPlaceShow{
    background-color: transparent;
    padding: 17px 78px;
    color: #1B2021;
    border: 1px solid #1B2021;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.TicketsPremium{
    background-color: #1B2021;
    border-radius: 10px;
    padding: 25px 20px;
}
.TicketsPremium .titleTariffCard{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 36px;
    color: #FFFCF9;
    margin-bottom: 30px;
}
.TicketsPremium .kolPlace{
    color: #FFFCF9;
}
.TicketsPremium .wrapperDetailsTariff{
    border-bottom: 1px solid #FFFCF9;
    border-top: 1px solid #FFFCF9;
}
.TicketsPremium .priceText{
    color: #FFFCF9;
    border-bottom: 1px solid #FFFCF9;
    font-weight: 700;
}
.TicketsPremium .detailsText{
    color: #FFFCF9;
}
.TicketsPremium .detailsText span, .TicketsGold .detailsText span{
    color: #9EB7E5;
}
.TicketsPremium .detailsSVG{
    fill: #FFFCF9;
}
.btnBuyTariffPremium{
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    padding: 34px 84px;
    font-size: 12px;
    color: #1B2021;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    width: 100%;
}
.TicketsPremium .btnPlaceShow{
    color: #FFFCF9;
    border: 1px solid #FFFCF9;
}
.TicketsOnlyMonatik{
    border-radius: 10px;
    border: 1px solid #1B2021;
    padding: 25px 0;
    display: none;
}
.titleOnlyTiket{
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1B2021;
    text-align: center;
    margin-bottom: 60px;
}
.wrapperInfoTicketOnly{
    padding: 0 20px;
}
.wrapperInfoTicketOnly .kolPlace{
    text-align: center;
}
.wrapperInfoTicketOnly .detailsText{
    padding: 40px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    border-top: 1px solid #1B2021;
    border-bottom: 1px solid #1B2021;
    position: relative;
}
.wrapperInfoTicketOnly .detailsText span{
    max-width: 210px;
}
.underPresidentRoom::after{
    
}
.wrapperAuction{
 display: flex;
 flex-direction: column;
 gap: 5px;
 max-width: 182px;
 margin-left: auto;
 margin-bottom: 40px;
 position: relative;
}
.wrapperAuction li:first-child{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1B2021;
}
.wrapperAuction li:first-child::after{
    content: '';
    background-image: url(./CircleSVGLine.svg);
    position: absolute;
    z-index: 0;
    top: 8px;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 700%;
    height: 1700%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}
.wrapperAuction li:last-child{
    color: #797979;
    font-size: 12px;
    max-width: 163px;
}
.wrappertitleAuction{
    margin-bottom: 20px;
}
.titleAuctionMobile{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1B2021;

}
.titleAuctionMobileMargin2, .titleAuctionMobileMargin{
    text-align: right;
}
.titleAuctionMobileMargin2 span{
    margin-right: 21px;
}
.titleAuctionMobileMargin3{
    text-align: center;
}
.titleAuctionMobile span{
    color: transparent;
  background: linear-gradient(90deg, #1B2021, #9EB7E5);
  -webkit-background-clip: text; /* Для Safari */
  background-clip: text;
}
.lastTextTeckets{
    max-width: 178px;
    margin-left: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #1B2021;
    font-weight: 600;
}