.HeroCompSection{
    padding: 19% 0 10%;
    box-shadow: inset ;
}
.heroImgWrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    z-index: 0;
    display: block;
  }
  .wrapperHeroInfoText{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .infoTextHero1{
    max-width: 38%;
    color: #FFFCF9;
    font-weight: 600;
    font-size: 1vw;
    text-transform: uppercase;
  }
  .wrapperMainTitle{
    display: flex;
    flex-direction: column;
  }
  .wrapperMainTitle div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buyBtnHero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FFFFAC, #FFFFFF);
    color: #1B2021;
    padding: 36px 68px;
    font-size: 1.2vw;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    max-width: 373px;
    max-height: 123px;
    text-align: center;
    margin: 8px 0 auto;
  }
  .WarsawText{
    font-family: "Unbounded";
    font-size: 8.15vw;
    text-transform: uppercase;
    color: #FFFFAC;
    font-weight: 600;
    text-align: right;
    line-height: 1;
  }
  .mainTitle{
    color: #FFFCF9;
    text-transform: uppercase;
    font-size: 12vw;
    line-height: 1;
    letter-spacing: 5.7px;
    margin-left: -12px;
    text-wrap: nowrap;
    position: relative;
  }
  .mainTitle::after{
    content: 'by Olimpia';
    font-family: "Quentin";
    font-size: 7.2vw;
    position: absolute;
    bottom: -45px;
    text-transform: none;
    right: 5px;
    color: #9EB7E5;
    font-weight: 400;
  }

  @media (min-width:2439px){
    .wrapperHeroInfoText{
        margin-bottom: 12%;
    }
  }