.PartnersSection{
    padding: 70px 0;
}
.textBtw{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    margin: 0 54px 30px 0;
}
.wrapperPartners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
/* pdp logo */
.wrapperLogoPDP{
    border: 1px solid #FFFFAC;
    border-radius: 10px;
    padding: 52px 24px;
}
/* lavande logo */
.lavandeLogo{
    border-radius: 10px;
    max-width: 274px;
    max-height: 148px;
}

@media(min-width:410px){
    .lavandeLogo{
        max-width: 274px;
        max-height: 158px;
    }
}

@media(min-width:768px){
    .textBtw{
        font-size: 18px;
        text-align: center;
    }
    .wrapperPartners{
        flex-direction: row;
    }
    .wrapperLogoPDP{
        padding: 80px 55px;
    }
    .lavandeLogo{
        max-width: 100%;
        max-height: 100%;
    }
}