.PartnersSection{
    padding: 120px 0;
}
.wrapperPartners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.wrapperPartners li{
    border-radius: 10px;
    border: 1px solid #FFFFAC;
    width: 164px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapperLogoPDP{
    padding: 15px;
}
.wrapperLogoConciergePro{
    padding: 15px;
}
.wrapperLogo911AC{
    background-color: #f1eee3;
    padding: 20px;
}
.wrapperPartners li svg{
    max-width: 164px;
    max-height: 88px;
}
.wrapperPartners .ConciergeProLogo{
    max-height: 58px;
}
.goPartnersBtn{
    background: linear-gradient(90deg, #FFFCF9, #FFFFAC);
    margin: 40px auto;
    display: block;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 34px 69px;
    color: #1B2021;
    font-weight: 600;
}

@media (min-width: 768px){
    .wrapperPartners{
        gap: 50px;
    }
    .wrapperPartners li{
        width: 22%;
        height: 205px;
    }
    .wrapperLogoLavande{
        background-color: #fefb81;
    }
    .wrapperPartners li svg{
        max-width: 100%;
        max-height: 100%;
    }
    .wrapperPartners .ConciergeProLogo{
        max-width: 100%;
        max-height: 100%;
    }
    .wrapperPartners .lavandeLogo{
        object-fit: cover;
    }
    .goPartnersBtn{
        font-size: 18px;
        margin: 60px auto;
    }
}