.textBtw{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}
.titleAnastasia{
    color: #FFFFAC;
    font-size: 22px;
    margin-bottom: 20px;
}
.textAnastasia{
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0;
}
.scndTitle{
    color: #9EB7E5;
    font-size: 22px;
}