@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Mulish-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Mulish-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Mulish-SemiBold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Mulish-ExtraBold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Unbounded-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Unbounded-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Unbounded-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: 'Quentin';
  src: url('./assets/fonts/Quentin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
  scrollbar-gutter: stable;
  color: #FFFCF9;
  background-color: #1B2021;
  font-family: "Mulish", sans-serif;
  height: 100%;
}
#root{
  height: 100%;
}
body{
  margin: 0 auto;
}
div {
  position: relative;
}
section {
  position: relative; /* MOBILE */
  padding: 35px 0;
  overflow: hidden;
}
ul,
ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}
p, li{
  white-space: pre-line;
}
button {
  cursor: pointer; /* Добавляем палец при наведении на кнопку */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Unbounded";
  font-weight: 600;
  text-transform: uppercase;
}
button{
  font-family: "Mulish";
  font-weight: 600;
  transition: 0.3s;
}


.container{
  margin: 0 auto; /* MOBILE */
  padding: 0 20px;
}

@media (min-width:876px){
  section{
    padding: 50px 0;
  }
  .container{
    padding: 0 40px;
  }
}